html { height:100%; }
body { height:100%; }
body {
	padding: 0;
	margin: 0;
}

#page_exo {
	position: relative;
	font-size: 2em;
	font-family: Arial;
	height: 100%;
	width: 100%;
	margin: 0px;
	border-collapse:collapse;
}

/*table#page_exo td { border: 2px solid blue; }*/
#toutes_pages {
	position:relative;
	overflow: hidden;
	min-height: 50%;
}
.page {
	padding: 0px 4px;
	position: absolute;
	left: 4000px;
	top: 0px;
	display:none;
	/* gestion du scrolling ? */
	overflow: auto;
}
.page#p1 {
	left: 0px;
	display:block;
}

@font-face {
	font-family: Alphonetic;
	src: url("alphonetic.ttf"),url("communs/alphonetic.ttf");
}

#bloc_central {
	position:relative;
	margin-left: 35px;
	margin-right: 35px;
	width: auto;
	overflow: auto;
	height: 100%;
}
#enonce {
	text-align: center;
	padding: 5px;
	font-family: "Arial Unicode", Arial; /*Geneva, Helvetica, Arial;*/
	line-height: 2em;
	overflow: auto;
}
/*
	styles standard
*/
.fond_couleur { padding: 4px; }
.stu { text-decoration: underline; padding: 0px; }
.stb { font-weight: bold; padding: 0px; }
.boite { border: 2px solid black; }
.phonetic { font-family: Alphonetic; }

#print .fond_couleur { padding: 0px; }
#print .sel1 { border: 2px solid yellow; }
#print .sel2 { border: 2px dotted pink; }
#print .sel3 { border: 2px dotted #bbf; }
#print .sel4 { border: 2px dotted #bfb; }
#print .sel5 { border: 2px dotted #bbb; }

#page_exo #enonce .boite { border: 2px solid black; padding:4px; }
#page_exo #enonce .nocol,
#page_exo #enonce .nocol .mot { color: black !important; }

/* centaines en vert, dizaines en rouge et unités en bleu.
	C'est la norme des ergothérapeutes
	
	lc: lettres colorées
	fc: fonds colorés
	cc: cadres colorés
*/
.lc .centaine { color:#0C0; }
.lc .dizaine { color:#F00; }
.lc .unite { color:#00F; }
.lc .milliers { color:#000; }
.fc .centaine { background:#BFB; padding: 2px; }
.fc .dizaine { background:#FBB; padding: 2px; }
.fc .unite { background:#BBF; padding: 2px; }
.fc .milliers { background:#BBB; padding: 2px; }
.cc .centaine { border:4px solid #0F0; padding: 2px; }
.cc .dizaine { border:4px solid #F00; padding: 2px; }
.cc .unite { border:4px solid #00F; padding: 2px; }
.cc .milliers { border:4px solid #000; padding: 2px; }

/* .milliers { margin-right: 0.3em; } */

#enonce .selc, #enonce .selc *,
.selc .lc * { color:#0C0 !important; }
#enonce .seld, #enonce .seld *,
.seld .lc * { color:#F00 !important; }
#enonce .selu, #enonce .selu *,
.selu .lc * { color:#00F !important; }
#enonce .seln, #enonce .seln *,
.seln .lc * { color:#000 !important; }

#cleft {
	position: absolute;
	width: 34px;
	height: 100%;
	left: 0px;
}
#cright {
	position: absolute;
	width: 34px;
	height: 100%;
	right: 0px;
}
#bleft, #bright {
	display: block;
	width: 35px;
	height: 100%;
	border: none;
	background: #CCC;
}

#bottom {
	position: relative;
	text-align: center;
	vertical-align: bottom;
}
#fleche {
	border: none;
	background: transparent;
}
#oups {
	position: absolute;
	bottom: 0px;
	right: 50px;
	border: 2px outset #888;
	border-radius: 15px 15px 0px 0px;
	border-bottom: none;
	background: #FDD;
	color: #F44;
	font-size: 60%;
}
#loading {
	position:fixed;
	z-index: 1000;
	left:0;
	width:100%;
	top:0;
	height:100%;
	background: rgba(0,0,0,0.5);
}
#loading img {
	display: block;
	position: absolute;
	top: 50%; margin-top: -125px;
	left: 50%; margin-left: -125px;
}

/* couleurs */
.m0, .color0 { color: #F00; }
.m1, .color1 { color: #00F; }
.m2, .color2 { color: #0C0; }

/* */
.cahier_bouton_fin {
	font-size: inherit;
	margin-top: 20px;
}
#mention_developpe_footnote {
	font-size: 14px;
	margin: 50px 50px 0px;
	padding: 10px 20px 10px;
	background: #eee;
	text-align: justify;
}

/* debug */
#debug {
	font-size: 18px;
	float: left;
}
/* impression */
#print * {
	color:black !important;
}
#print {
	margin: 0px;
	padding: 1em 0px;
	font-size: 18px;
	line-height: 24px;
}
#print .subenonce {
	text-decoration:underline;
}

@media print {
	#edito_menu, #edito_menu *,
	#bottom, #bleft, #bright,
	.cahier_bouton_fin, #debug { display:none !important; }
	#enonce { font-size:18px; }
	#mention_developpe_footnote { display:none; }
}
