.contenu_page {
	line-height: 3.5em;
	padding: 0;
}
.space {
	white-space: pre-wrap;
}
.space.nw {
	white-space: pre;
}
/*
	boutons à choix multiple
*/
.champ_qcm {
	white-space: nowrap;
	padding-top: 8px;
	padding-bottom: 4px;
	position:relative;
}
.qcm_bouton {
	font-size: inherit;
	color:inherit;
	background: transparent;
	padding:0;
	border: 2px outset #888;
}
.focus {
	/*background-image: url("fond-variant.gif");*/
	background-color: #FFFDD4;
}
.noborder { border-color: transparent; }
.qcm_menu {
	position: absolute;
	display: none;
	left: 0px;
	top: 0px
	border: 1px solid blue;
	background: white;
	z-index:100;
}
.qcm_menu table {
	border: 1px dashed green;
	background: white;
}
.qcm_menu .qcm_bouton_choix {
	font-size: inherit;
	float:left;
	background: transparent;
	border: 1px solid black;
	margin:15px 5px 15px;
	font-size:inherit;
	white-space: nowrap;
}
/*
	phrases à cocher
*/
.coche {
	cursor:pointer;
	padding: 0.5em 0.1em;
}
.coche.cochb {
	padding: 0 0.1em;
	display: inline-block;
	line-height: 1.5em;
}
.coche_lettres {
	padding: 2px;
}
span.coche:hover {
	outline: 3px dotted #EEE;
}
/*
	phrases à échanger
*/
.echange {
	cursor:pointer;
	padding: 0.5em 0.1em;
	border: 2px solid #AAF;
}
.echange.echb {
	padding: 0 0.1em;
	display: inline-block;
	line-height: 1.5em;
}
/*
	couleurs de sélection / coches / raccourcis
*/
.nocol, .nocol .mot { color: black !important; }

/*
	style pour les champs texte
*/
.champ {
	font-size: inherit;
	font-family: inherit;
	width: auto;
	overflow:visible;
	border:2px outset black;
	padding:4px;
	/* text-align:center; */
	white-space:pre-wrap;
	display: inline;
	line-height: 1em;
}
.champ:focus { background-color: #FFFDD4; }
/*
	clavier numérique
*/
.clavier_num_div button {
	border-width: 4px;
	border-style: solid;
	border-color: #888 #444 #444 #888;
	padding: 3px 8px 3px;
	margin: 16px 4px 0px;
	background: #f4f4f4;
	font-size: 3em;
	cursor: pointer;
	font-family: Arial;
	min-width: 1.2em;
}
/*
	addition posée
*/
.operation_posee {
	border-spacing: 0px;
}
.operation_posee td {
	padding: 8px;
	font-size:24px;
	text-align: center;
	vertical-align: middle;
}
.operation_posee td .input {
	display: block;
	margin: 0px auto 0px;
	padding: 4px 2px 0px;
	border: 3px dotted transparent;
	font-size: 2em;
	font-family: inherit;
	text-align: center;
	height:100%;
	line-height:inherit;
}
.operation_posee td.edit .input { border-color: black; }
.operation_posee td.col0 .input { border-color:#00F; color:#00F; }
.operation_posee td.col1 .input { border-color:#F00; color:#F00; }
.operation_posee td.col2 .input { border-color:#0B0; color:#0B0; }

.operation_posee td.boxes .input { border-color: black; }
.operation_posee td.texte .input { color: black; }

.operation_posee td.bords {
	border-width: 0px 3px 0px;
	border-style:solid;
	border-color: transparent;
}
.operation_posee td.col0.bords { border-color:#00F; color:#00F; }
.operation_posee td.col1.bords { border-color:#F00; color:#F00; }
.operation_posee td.col2.bords { border-color:#0B0; color:#0B0; }

.operation_posee td.col0.back { background-color:#DDF; color:#000; }
.operation_posee td.col1.back { background-color:#FDD; color:#000; }
.operation_posee td.col2.back { background-color:#DFD; color:#000; }

.operation_posee tr.resultat td {
	border-top: 4px solid black;
}
.operation_posee td input {
	width:1.5em;
	height:100%;
	border:none;
	font-size: inherit;
	font-family: inherit;
	text-align: center;
	color: inherit;
	background: transparent;
}
.operation_posee td .input.readonly {
	border-style: solid;
	outline: none;
}
.operation_posee td .input.remplir {
	/*outline: 2px solid #AAF;*/
}
/* ligne de retenue */
.operation_posee tr.retenue td {
	background: #EEE;
}
.operation_posee tr.retenue td .input {
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	padding: 0px;
}
.operation_posee input:focus {
	background: #FFC;
}
.operation_posee .op_operation {
	padding: 0px 30px 0px;
	font-size: 3em;
}
/*
	medias
*/
.media {
	display:inline;
	line-height: 16px;
}
.media.media_image {
	display:inline-block;
	text-align:center;
}
.media_legende {
	line-height: 1em;
}
/*
	fractions
*/
.fraction {
	border-spacing: 0px;
    display: inline-table;
    margin: 0px 0.2em;
}
.fraction td {
	white-space: pre;
	text-align: center;
	vertical-align: bottom;
	padding: 0px 0.4em 0px;
	line-height: 1.5em;
}
.fraction tr:first-child > td {
	border-bottom: 4px solid black;
}

/*
	*****************************************************
	blocs imbriqués
	*****************************************************
*/

/* .echange .coche .champ_qcm .champ {} */
.echange .coche { padding-top: 0em; padding-bottom: 0em; }

/*
	*****************************************************
	classes d'exercices
	*****************************************************
*/
.page.double_ligne .contenu_page {
	line-height: 7em;
}

/*
	*****************************************************
	impression
	*****************************************************
*/
#print .operation_posee td {
	margin: 0;
	padding: 0;
}
#print .operation_posee .input {
	border: 1px dotted black !important;
	font-size: 1em !important;
	margin: 0;
	padding: 0;
}
#print .operation_posee .op_operation {
	font-size: 1.4em !important;
	margin: 0;
	padding: 0 5px 0;
}
#print .operation_posee tr.retenue td {
	background: transparent;
}
#print .fraction tr:first-child td {
	border-bottom: 2px solid black;
}
#print .coche {
	padding: 0px;
}
#print .echange {
	padding: 0px;
}
#print .champ {
	border-width: 0 0 1px;
	border-bottom: 1px dotted black;
}

/*
	*****************************************************
	Internet Explorer (-> reset)
	*****************************************************
*/
.qcm_bouton,
.qcm_menu
{
	line-height: 1em;
}
